.remove {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: left;
}
.userLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:125px

}

.streamerInfo {
  font-size:20px;
}

#online_text {
  color:green;
}

#offline_text {
  color:red;
}
