.remove {
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  cursor: pointer;
}

#online_text {
  color: green;
}

#offline_text {
  color: red;
}

#alert_box {
  display: none;
}

.streamerInfo {
  font-size: 20px;
}

.main_page {
  max-width:550px;
  padding: 0 0 0 0;
  margin-top:20px;
}

.input_bar {
   margin: 20px 0 20px 0;
}

.user_box {
  background-color: #565051;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.userLogo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 125px;
  margin-bottom: -20px;
}

@media (max-width: 600px) {
  .user_box {
    text-align: center;
      margin: 20px 20px 20px 20px;
  }
}
